<nav class="red accent-4" role="navigation">
  <div class="nav-wrapper container">
    <img id = "logo-container" src="https://www.iconsdb.com/icons/preview/orange/linkedin-4-xxl.png" height="60px" href="#" class="brand-logo"/img>

    <ul class="right hide-on-med-and-down">
      <li><i class="material-icons"><a href="/">insert_home</a></i></li>
      <li><i class="material-icons active"><a href="/cv">insert_assignment</a></i></li>
      <li><i class="material-icons"><a href="/data">insert_computer</a></i></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/">/home</a></li>
      <li><a href="/cv">/cv</a></li>
      <li><a href="/data">/data</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>



<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col m2">
        <h5 class = "right">Biography</h5>
      </div>
      <div class="col m6">
        <div class="icon-block cv-list">
          <p class="light">{{person.firstname}} {{person.lastname}}</p>
          <p class="light">{{person.birtdate}}</p>
          <p class="light">{{person.email}}</p>
          <p class="light">{{person.address.0.city}} {{person.address.0.country}}</p>
        </div>
      </div>
      <div class="col m2">
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <div class="icon-block">
          <p class = "light center">I currently lecture at the Oslo Vocational School in Oslo,
            specifically I am involved in developing and presenting short courses.
            One such course is the Java Full-stack offering which is a comprehensive course
            designed to provide a fast up-skill to address a need for such developers by industry partners.
            I am currently still pursuing my PhD while I lecture.

            I have previously been involved in the supervision of numerous student project groups; this has given me exposure to various types of game development technologies, from the
            now defunct XNA framework to the current Unity Engine. I’ve worked with dozens of developers
            from all walks of life.

            My Master’s thesis in particular investigated the techniques which contributed to the success of a
            handful of Indie games and how those techniques could be applied to the 3 rd year projects to bring
            them in-line with industry standards. This has helped me develop a deeper understanding of the
            life-cycle of the typical game.

            My current research has helped me shift into the role of a data analyst, but has allowed me to
            maintain practice in my (Python) programming skills. I have completed my necessary data
            collection steps and currently am busy with the final writing up of my thesis.</p>
          </div>
        </div>

        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Experience</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.experience}}
              <p class="light">{{this.employer}}</p>
              <p class="light">{{this.title}}</p>
              <p class="light">{{this.startdate}} - {{this.enddate}}</p>
              <br>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Education</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.education}}
              <p class="light">{{this.school}}</p>
              <p class="light">{{this.program}}</p>
              <p class="light">{{this.degree}}</p>
              <p class="light">{{this.startdate}} - {{this.graduated}}</p>
              <br>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Qualifications</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.qualifications}}
              <p class="light">{{this}}</p>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Portfolio</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              <p class="light">{{person.links.0.linkedin}}</p>
              <p class="light">{{person.links.0.github}}</p>
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <footer class="page-footer red accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About inCV</h5>
          <p class="grey-text text-lighten-4">We are a team of three colleagues working on this project.
            Our background is vastly different, and our competences differs as well.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Developers</h5>
            <ul>
              <li><a class="white-text" href="mailto:quoc.viet.nguyen.tran@no.experis.com">Quoc Viet Nguyen Tran</a></li>
              <li><a class="white-text" href="mailto:thinh.to@no.experis.com">Thinh To</a></li>
              <li><a class="white-text" href="mailto:kim.aasen@no.experis.com">Kim Aasen</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright <a class="orange-text text-lighten-3" href="http://www.incv.com">inCV.com</a>
        </div>
      </div>
    </footer>
