<nav class="lime accent-4" role="navigation">
  <div class="nav-wrapper container">
    <img id = "logo-container" src="https://www.iconsdb.com/icons/preview/orange/linkedin-4-xxl.png" height="60px" href="#" class="brand-logo"/img>

    <ul class="right hide-on-med-and-down">
      <li class="orange accent-3"><a href="/">/home</a></li>
      <li class="yellow accent-4 active"><a href="/cv">/cv</a></li>
      <li class="lime accent-3 red-text"><a href="/data">/data</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/">/home</a></li>
      <li><a href="/cv">/cv</a></li>
      <li><a href="/data">/data</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>



<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col m2">
        <h5 class = "right"><i class="small material-icons">account_circle</i></h5>
      </div>
      <div class="col m6">
        <div class="icon-block cv-list">
          <p class="light">{{person.firstname}} {{person.lastname}}</p>
          <p class="light">{{person.birtdate}}</p>
          <p class="light">{{person.email}}</p>
          <p class="light">{{person.address.0.city}} {{person.address.0.country}}</p>
        </div>
      </div>
      <div class="col m2">
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <div class="icon-block">
          <p class = "light">I recently finished my bachelor's degree at the University of Oslo, Department of Informatics.
            During my three years as a student I also juggled my job at Securitas (closing in on 10 years as an employee)
            as well as trying to be the best possible devoted father for my three children.
            <br>
            During these last three years I've met many interesting people, and I've become friends with some of them.
            <br>
            I have taken courses from a wide spread of topics, such as different programming courses - including learning C (INF1060),
            Java (INF1000 and INF1010), Python (INF3331) and Scheme (INF2810). At the moment I'm trying to learn JavaScript on my own.
            Other courses I have passed includes:
            INF2220: Algorithms and Data Structures which taught me how to optimize my code and make it more effective with regard
            to the use of time and resources.If I would have to chose a favourite course it would without a shadow of a doubt
            be INF3510: Information Security. My partner and I wrote a home exam about the weaknessess of the connected car -
            which we actually got an A for). I'd wish we had the possibility to choose more courses about information security,
            since I have a sincere interested in working with security - both physical security as well as IT security.
            In INF1050: Systems Development I learnt about the different development models typically used.<br>
            I've learnt DBMSs (mainly SQL through INF1300 and INF3100).
            I have learnt about design and designprinciples in INF1500 and INF1510.
            Another interesting course I would like to mention is INF3280: Development of IT competence in Organisations.
            This course taught me how to be able to teach IT to others.<br>
            INF3121: Software testing made me more aware of how important performing the right tests at the right time were,
            and I learned how to write my own tests as well as using established testing frameworks.
            <br>
            Prior to my studies at the University of Oslo i studied at Høgskolen i Telemark,
            where I learnt about psychology and pedagogical development.</p>
          </div>
        </div>

        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right"><i class="small material-icons">location_city</i></h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.experience}}
              <p class="light">{{this.employer}}</p>
              <p class="light">{{this.title}}</p>
              <p class="light">{{this.startdate}} - {{this.enddate}}</p>
              <br>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right"><i class="small material-icons">account_balance</i></h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.education}}
              <p class="light">{{this.school}}</p>
              <p class="light">{{this.program}}</p>
              <p class="light">{{this.degree}}</p>
              <p class="light">{{this.startdate}} - {{this.graduated}}</p>
              <br>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right"><i class="small material-icons">next_week</i></h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.qualifications}}
              <p class="light">{{this}}</p>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right"><i class="small material-icons">share</i></h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              <p class="light">{{person.links.0.linkedin}}</p>
              <p class="light">{{person.links.0.github}}</p>
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <footer class="page-footer deep orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About inCV</h5>
          <p class="grey-text text-lighten-4">We are a team of three colleagues working on this project.
            Our background is vastly different, and our competences differs as well.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Developers</h5>
            <ul>
              <li><a class="white-text" href="mailto:quoc.viet.nguyen.tran@no.experis.com">Quoc Viet Nguyen Tran</a></li>
              <li><a class="white-text" href="mailto:thinh.to@no.experis.com">Thinh To</a></li>
              <li><a class="white-text" href="mailto:kim.aasen@no.experis.com">Kim Aasen</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright <a class="orange-text text-lighten-3" href="http://www.incv.com">inCV.com</a>
        </div>
      </div>
    </footer>
